/* Variables */
:root {
    --wms-mob-full-bg-height: 600px;
    --wms-mob-full-bg-max-width: 450px;
    --wms-skin-height: 450px;
    --wms-sticky-top: 0px;
}

/* (RESET DE CLASES HIJAS DE NODOS WMS) CUALQUIER DECLARACIÓN ENCIMA DE ESTO SERÁ DEVUELTA A LOS VALORES INICIALES */
.wms-mob-full-bg,
.wms-mob-full-bg * {
    all: initial;
}

/* Inicio hoja de estilos general */
.wms-cc-mob,
.wms-centerContents {
    position: sticky;
    top: var(--wms-sticky-top);
    left: 0;
    width: 100%;
    height: var(--wms-skin-height);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.wms-cc-mob {
    height: var(--wms-mob-full-bg-height);
    margin-top: calc(var(--wms-skin-height) * -1);
    z-index: 1;
    pointer-events: all;
}

.wms-centerContents {
    max-width: 100%;
    overflow: hidden;
}

.wms-mob-full-bg {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .wms-mob-full-bg {
        height: var(--wms-mob-full-bg-height);
    }
}

@media screen and (orientation: landscape) {
    .wms-mob-full-bg {
        top: var(--wms-sticky-top);
        width: 100%;
        max-width: var(--wms-mob-full-bg-max-width);
    }
}
