/* Variables */
:root {
    --wms-mob-full-bg-height: 600px;
    --wms-mob-full-bg-max-width: 450px;
    --wms-skin-height: 450px;
    --wms-sticky-top: 0px;
}

/* (RESET DE CLASES HIJAS DE NODOS WMS) CUALQUIER DECLARACIÓN ENCIMA DE ESTO SERÁ DEVUELTA A LOS VALORES INICIALES */
.wms-mob-full-bg,
.wms-mob-full-bg * {
    all: initial;
}

/* Inicio hoja de estilos general */
.wms-cc-mob,
.wms-centerContents {
    position: sticky;
    top: var(--wms-sticky-top);
    left: 0;
    width: 100%;
    height: var(--wms-skin-height);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.wms-cc-mob {
    height: var(--wms-mob-full-bg-height);
    margin-top: calc(var(--wms-skin-height) * -1);
    z-index: 1;
    pointer-events: all;
}

.wms-centerContents {
    max-width: 100%;
    overflow: hidden;
    z-index: 2;
}

.wms-mob-full-bg {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .wms-mob-full-bg {
        height: var(--wms-mob-full-bg-height);
    }
}

@media screen and (orientation: landscape) {
    .wms-mob-full-bg {
        top: var(--wms-sticky-top);
        width: 100%;
        max-width: var(--wms-mob-full-bg-max-width);
    }
}


/* css para video y controles */

.wms-btns-canvas {
    position: absolute;
    z-index: 3;
    width: 100vw;
    max-width: 430px;
    aspect-ratio: 16 / 9;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}


/* .wms-btns-canvas > div {
    opacity: 75%;
} */

.wms-box-btns {
    position: absolute;
    right: 5px;
    width: 35px;
}

.wms-btn-sound {
    display: block;
    width: 35px;
    height: 35px;
    background: url(images/wms-sprites.svg) 118px -2px;
}

.wms-btn-sound.-soundoff {
    background-position: 158px -2px;
}

.-wms-nodisplay {
    display: none;
}

.wms-cont-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
}

.wms-video {
    pointer-events: none;
    max-width: 430px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

.wms-cont-video.-wms-center {
    align-items: center;
}

.wms-cont-video.-wms-top {
    align-items: flex-start;
}

.wms-cont-video.-wms-bottom {
    align-items: flex-end;
}
